.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}

.footer-button {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 1rem auto;
}

.helper-button {
    border: none;
    padding: 0;
    background: none;
    text-decoration: underline;
}